<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Збереження даних у хмарі</h1>
    <form method="post">
        <input name="name" placeholder="Ім'я" required>
        <input name="email" placeholder="Email" required>
        <button type="submit">Зберегти</button>
    </form>

    <h2>Список користувачів</h2>
    <ul>
        {% for name, email in data %}
            <li>{{ name }} — {{ email }}</li>
        {% endfor %}
    </ul>
</body>
</html>